body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

div{
    background-color: #0056b3;
}

h1{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    padding: 15px;
    margin: 0 auto 30px auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input, select, button {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f1f1f1;
}

td button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

td button:hover {
    background-color: #218838;
}


.alerta {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 5px;
}